<header>
    <h1>Beep-Boop.Wav</h1>
    <form id="search" action="/search" method="get">
        <input type="text" name="search" placeholder="search">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    
    <div>
        <button onclick='document.querySelector("dialog").showModal()'>
            Add Track
            <i class="fa-solid fa-plus"></i>
        </button>
        <p>|</p>
        <p><%= count  %> tracks in library</p>
        <% if(notHome === true){ %>
            <p>|</p>
            <a href="/">All Tracks</a>             
        <% } %>
    </div>
    <h2 class="title"><%= title %></h2>
    
</header>


<dialog>
    <button class="close" onclick='document.querySelector("dialog").close()'>
        <i class="fa-solid fa-xmark"></i>
    </button>
    <form action="/add" method="post">
        <fieldset>
            <legend>Add New Track</legend>
            <input type="text" name="track" placeholder="Track Name" required>
            <div id="artistInputs">
                <input type="text" name="artist" placeholder="Artist" list="artistList" required>
                <button type="button" id="addArtist"><i class="fa-solid fa-plus"></i></button>
            </div>
            <input type="text" name="album" placeholder="Album" required>
            <input type="url" name="albumArtAddress" placeholder="Album art image address" required>
            <div id="genreInputs">
                <input type="text" name="genre" placeholder="Genre" list="genreList">
                <button type="button" id="addGenre"><i class="fa-solid fa-plus"></i></button>
            </div>
            <input type="number" name="year" placeholder="Year">
            <button type="submit">Add Track</button>
        </fieldset>
    </form>

    <datalist id="artistList">
        <% artists.forEach(artist => { %>
            <option value="<%= artist.artist_name %>"></option>
        <% }); %>
    </datalist>

    <datalist id="genreList">
        <% genres.forEach(genre => { %>
            <option value="<%= genre.genre_name %>"></option>
        <% }); %>
    </datalist>
</dialog>