<header>
    <h1>Beep-Boop.Wav</h1>
    <form action="" method="get">
        <input type="text" name="search" placeholder="search">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <p><%= count  %> Tracks in library</p>
    
</header>