<header>
    <h1>Beep-Boop.Wav</h1>
    <form id="search" action="" method="get">
        <input  type="text" name="search" placeholder="search">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    
    <div>
        <a href="/add">Add Track</a>
        <p>|</p>
        <p><%= count  %> tracks in library</p>               
    </div>
    <h2 class="title"><%= title %></h2>
    
</header>