<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/5b9e012be4.js" crossorigin="anonymous"></script>
    <script src="/js/form.js" defer></script>
    <title>Beep-Boop.Wav</title>
</head>
<body>
    <%- include('partials/header',{title: title, notHome: notHome, artists: artists, genres: genres}) %>
    <main>
            <% if (locals.tracks){ %>
                <% tracks.forEach(track=> { %>
                    <%- include('partials/track',{track:track}) %>
                <% }); %>
             <% } else { %>
                <p>no tracks added yet</p>
                <% } %>      
    </main>  
    sc     
</body>
</html>