@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Pixelify+Sans:wght@400..700&display=swap");

h1 {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}
